<div class="row text-center">
  <div class="col-md-12">
    <h1 class="hook">There are amazing people on campus you've never met.</h1>
  </div>
</div>
<div class="row how-it-works">
  <div class="col-md-4">
    <div class="row text-center padded-icon">
      <i class="fa fa-users large-icon"></i>
    </div>
    <div class="row text-center padded-text">
      <h2>
        Step 1: Be matched<br>
        <small>Get paired anonymously with another student. We'll even provide a question to get the conversation started.</small>
      </h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row text-center padded-icon">
      <i class="fa fa-comments large-icon"></i>
    </div>
    <div class="row text-center padded-text">
      <h2>
        Step 2: Chat<br>
        <small>If the conversation goes well, you'll be asked whether or not you want to find out who you're chatting with. Your partner won't know what you choose!</small>
      </h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row text-center padded-icon">
      <i class="fa fa-smile-o large-icon"></i>
    </div>
    <div class="row text-center padded-text">
      <h2>
        Step 3: Make friends<br>
        <small>If both people say yes, your identities will be revealed to each other. If not, you will both stay anonymous. It's completely up to you.</small>
      </h2>
    </div>
  </div>
</div>
