<% @schools.each do |school| %>
  <div class="row">
    <div class="col-md-2 homepage-school-name">
      <h2><%= school.proper_name %></h2>
    </div>
    <div class="col-md-8">
      <%= render partial: "schools/progress_bar", locals: {school: school} %>
    </div>
    <div class="col-md-2">
      <%= tag("a", href: countdown_path("#{school.name}"), class: "unlock-link") %>
        <%= tag("button", class: "btn btn-home-unlock btn-block #{school.name}")%><i class='fa fa-lock'></i>
          Unlock
        </button>
      </a>
    </div>
  </div>
<% end %>
