<% @schools.each do |school| %>
<div class="row">
  <div class="col-md-12">
    <%= tag("a", href:countdown_path("#{school.name}")) %>
      <div class="progress progress-striped active">
        <%= tag("div", class: "progress-bar #{school.name}", role: "progressbar", aria_valuenow: "#{school.signups}", aria_valuemin: "0", aria_valuemax: "#{@unlock_threshold}", style: "width: #{@unlock_threshold * 50/@unlock_threshold}%") %>
          <div class="progress-bar-name">
            <%= "#{school.proper_name}" %>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% end %>
