<body class="cover">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>About</h1>
          <div class="header" id="about">
            <h3>About Campus Anonymous</h3>
          </div>
          <p class="lead">
          There are tons of amazing people in the Ivy League, but even though we share this common bond, we rarely come into contact with each other. Campus Anonymous was built to break down social barriers and help you meet more awesome people.
          </p>
          <div class="header" id="whoweare">
            <h3>Who We Are</h3>
          </div>
          <p class="lead">
          Tigers Anonymous was built by Origin Black, a team dedicated to improving life here at Princeton and beyond. Hit us up at <a href="mailto:originblack609@gmail.com">originblack609@gmail.com</a> &#8212 we’d love to hear from you!
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
