<h2>About</h2>
<div class="row bio">
  <div class="col-sm-6">
    <%= image_tag "dk.jpg", class: "img-circle img-responsive" %>
    <h3>Dan Kang</h3>
    <p>
      It was a dark and stormy night. Finally having surrendered to a tormenting problem set at 3am, I feebly shuffled back to my dorm alone. In the corner of my eye, I caught a stray glimmer of light from a dorm room window, silhouetting a similarly lonely soul toiling away into the wee hours of the night. I thought, "o*."<br><br>
      <small>* Campus Anonymous needs to exist</small>
    </p>
  </div>
  <div class="col-sm-6">
    <%= image_tag "akshay.jpg", class: "img-circle img-responsive" %>
    <h3>Akshay Kumar</h3>
    <p>
      Long conversations are kind of my thing: It’s the best feeling in the world when you say something and the other person just gets it. Know what I mean? Either way, I hope you enjoy Campus Anonymous as much as we enjoyed building it.
    </p>
  </div>
</div>
