<div class="container">
  <div class="row">
    <div class="colmd12">
      <h1>About</h1>
      <div class="header" id="about">
        <h3>About Campus Anonymous</h3>
      </div>
      <p class="lead">
      There are tons of amazing people in the Ivy League, many who you might unfortunately never meet. Campus Anonymous was built to change that.
      </p>
      <div class="header" id="whoweare">
        <h3>Who We Are</h3>
      </div>
      <p class="lead">
      Campus Anonymous was built by Origin Black, a team dedicated to improving life for students everywhere. Hit us up at <a href="mailto:originblack609@gmail.com">originblack609@gmail.com</a> &#8212 we’d love to hear from you!
      </p>
    </div>
  </div>
</div>
