.princeton {
  background-color: #ff8f00;
}

.yale {
  background-color: #0f4d92;
}

.columbia {
  background-color: #75aadb;
}

.harvard {
  background-color: #a41034;
}

.cornell {
  background-color: #b31b1b;
}

.brown {
  background-color: #321414;
}

.upenn {
  background-color: #01256e;
}

.dartmouth {
  background-color: #00693e;
}
