$brown: #321414;
$columbia: #75aadb;
$cornell: #b31b1b;
$dartmouth: #00693e;
$harvard: #a41034;
$princeton: #ff8f00;
$upenn: #01256e;
$yale: #0f4d92;

.brown {
  background-color: $brown;
}

.btn.brown {
  background-color: $brown;
  border: darken($brown, 5%);
  &:hover {
    background-color: darken($brown, 5%);
  }
}

.columbia {
  background-color: $columbia;
}

.btn.columbia {
  background-color: $columbia;
  border: darken($columbia, 5%);
  &:hover {
    background-color: darken($columbia, 5%);
  }
}

.cornell {
  background-color: $cornell;
}

.btn.cornell {
  background-color: $cornell;
  border: darken($cornell, 5%);
  &:hover {
    background-color: darken($cornell, 5%);
  }
}

.dartmouth {
  background-color: $dartmouth;
}

.btn.dartmouth {
  background-color: $dartmouth;
  border: darken($dartmouth, 5%);
  &:hover {
    background-color: darken($dartmouth, 5%);
  }
}

.harvard {
  background-color: $harvard;
}

.btn.harvard {
  background-color: $harvard;
  border: darken($harvard, 5%);
  &:hover {
    background-color: darken($harvard, 5%);
  }
}

.princeton {
  background-color: $princeton;
}

.btn.princeton {
  background-color: $princeton;
  border: darken($princeton, 5%);
  &:hover {
    background-color: darken($princeton, 5%);
  }
}

.upenn {
  background-color: $upenn;
}

.btn.upenn {
  background-color: $upenn;
  border: darken($upenn, 5%);
  &:hover {
    background-color: darken($upenn, 5%);
  }
}

.yale {
  background-color: $yale;
}

.btn.yale {
  background-color: $yale;
  border: darken($yale, 5%);
  &:hover {
    background-color: darken($yale, 5%);
  }
}
