// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash-wrapper {
  display: table-caption;
  position: fixed;
  width: 100%;
}

// Countdown
.signup-hook {
  margin-bottom: 30px;
}

// Share
.btn-share {
  padding: 20px 25px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 8px;
  margin-bottom: 20px;
}

.share-title {
  margin-bottom: 20px;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #55acee;
}
