// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, Arial, sans-serif;
  /* centering container vertically */
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

a.unlock-link:hover {
  text-decoration: none;
}

.devise-header {
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.homepage-school-name {
  text-align: left;
  @media (min-width: $screen-md-min) {
    text-align: right;
  }
  line-height: 70px;
  margin: 0;
}

.cover {
  background: url(/assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  /* centering container vertically */
  display: table-cell;
  vertical-align: middle;
}

.header {
  margin-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}

.school-lock-icon {
  font-size: 6em;
  color: black;
  position: absolute;
  right: 3%;
  top: 12%;
}

.large-icon {
  font-size: 10em;
}

.padded-text {
  margin: 0 2px;
}

.padded-icon {
  padding-top: 20px;
  margin-bottom: 0px;
}

.hook {
  font-size: 34px;
  text-shadow: 1px 1px 1px #000;
}

.school-row {
  margin-bottom: 50px;
  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
  }
}

.btn-home-unlock {
  color: white;
  padding: 22px 20px;
  font-size: 17px;
  border-radius: 8px;
}

.btn-countdown-unlock {
  margin-top: 20px;
  padding: 18px 28px;
  font-size: 22px;
  border-radius: 8px;
}

.how-it-works {
  margin-top: 10px;
  margin-bottom: 40px;
}
