/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * Sass's @import directive preferred over Sprockets' require directives:
 * https://github.com/rails/sass-rails#important-note
 */

@import "bootstrap";
@import "school_colors";
@import "static_pages";
@import "schools";

.btn:hover {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 960px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 30px 50px;
  @media (min-width: $screen-sm-min) {
    border-radius: 15px;
    margin: 50px auto;
  }
}

// Progress bar
$progress-bar-height: 70px;
.progress {
  position: relative;
  height: $progress-bar-height;
  background-color: #bbb;
}

.progress-text {
  display: block;
  position: absolute;
  width: 100%;
  line-height: $progress-bar-height;
  font-size: 1.5em;
  text-align: center;
}
