/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * Sass's @import directive preferred over Sprockets' require directives:
 * https://github.com/rails/sass-rails#important-note
 */

$grid-gutter-width: 20px;
$container-large-desktop: (940px + $grid-gutter-width);

@import "bootstrap";

.hook {
  font-size: 35px;
  text-align: center;
}

.how-it-works {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  .fa {
    font-size: 10em;
  }
}
