// import the CSS framework
@import "bootstrap";

@media (min-width: 768px) {
  .container {
    border-radius: 15px;
  }
}

.btn:hover {
  text-decoration: none;
  color: white;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 30px;
  padding-bottom: 30px;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 30px;
  padding-bottom: 15px;
}

.progress {
  height: 100px;
  text-color: white;
  background-color: gray;
}
