// import the CSS framework
@import "bootstrap";

@media (min-width: 768px) {
  .container {
    border-radius: 15px;
  }
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 30px;
  padding-bottom: 30px;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 30px;
  padding-bottom: 15px;
}

.progress {
  height: 100px;
}

.progress:hover {
  opacity: 0.8;
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
      -ms-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
}
