<h2>Hey there!</h2>
<p>Thanks for signing up for Campus Anonymous. You're only one step away from making new friends.</p>
<p><%= link_to image_tag(attachments['confirm_account'].url, alt: "Confirm Account"), confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Thanks,</p>
<p>The Campus Anonymous Team</p>
