<h2>Forgot your password?</h2>
<p>No worries, you can reset it by clicking the link below:</p>
<p><%= link_to image_tag(attachments['reset_password'].url, alt: "Reset Password"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If you didn't request this, please ignore this email. Your password won't change until you click the link and create a new one.</p>
<p>Thanks,</p>
<p>The Campus Anonymous Team</p>
